{% extends "base.html" %}

{% block header %}
<h1>About Me</h1>
<span class="subheading">This is what I do.</span>
{% endblock %}

 {% block content %}
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <style>
                        p {
                         text-indent: 2em;
                         text-align: justify;
                    }
                    </style>

                    <p>
                        Amante da tecnologia, cultura pop e assuntos geeks, minha história com a informática teve seu início através dos jogos de computadores, mas o que me chamava atenção muitas vezes, não eram os jogos em si, mas a especificação de hardware que era exigida para o seu desempenho, com isso, percebi que era necessário entender o que eram aqueles componentes. Após pesquisas na internet o funcionamento dos seus componentes deixaram de ser algo “mágico” e acabaram se tornando algo lógico e técnico.
                    </p>

                    <p>
                    Em 2018 decidi que iria realmente me aprofundar na tecnologia da informação, através de um curso Técnico em informática, cursado na Escola Profissionalizante Santo Agostinho, finalizado no primeiro semestre de 2019, a formação me proporcionou conhecimentos em redes de computadores, hardware, lógica de programação e bando de dados. De forma resumida, foi possível absorver uma visão geral do que é a informática.
                    </p>

                    <p>
                    Finalizando o ensino técnico, no segundo semestre de 2019, comecei minha graduação em Sistemas e Informação na universidade Pontifícia Universidade Católica de Minas Gerais com conclusão prevista para o primeiro semestre de 2023.
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}