{% extends "base.html" %}

{% block header %}
<h1>Sobre mim</h1>
<span class="subheading">Essa é a minha História</span>
{% endblock %}

 {% block content %}
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <style>
                        p {
                         text-indent: 2em;
                         text-align: justify;
                         font-size: 17px;
                    }
                    </style>
                    <p>
                        Amante da tecnologia, cultura pop e assuntos geeks, minha história com a informática teve seu início através dos jogos de computadores, mas o que me chamava atenção muitas vezes, não eram os jogos em si, mas a especificação de hardware que era exigido para o seu desempenho, com isso, surgiu uma curiosidade para entender o que eram aqueles elementos listados em cada capa de jogo que eu me interessava. Após pesquisas na internet, a importância daqueles componentes ficou mais clara na minha compreesão, me permitindo conhecer a infomática diferente de algo quase "mágico" e sim como algo lógico e técnico.
                    </p>
                    <p>
                    Em 2018 decidi que iria realmente me aprofundar na tecnologia da informação, através de um curso Técnico em informática, cursado na Escola Profissionalizante Santo Agostinho, finalizado no primeiro semestre de 2019, a formação me proporcionou conhecimentos em redes de computadores, hardware, lógica de programação e banco de dados. De forma resumida, foi possível absorver uma visão geral do que é a informática.
                    </p>
                    <p>
                    Finalizando o ensino técnico, no segundo semestre de 2019, comecei minha graduação em Sistemas e Informação na universidade Pontifícia Universidade Católica de Minas Gerais com conclusão prevista para o primeiro semestre de 2023.
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}