{% load static %}<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Título da página</title>
      <link  rel="stylesheet" href=" {%  static   'css/styles.css'  %}" />
    <meta charset="utf-8">
  </head>
  <body>
<section>
     <aside>
      <select name="select"  onchange="location = this.value;">
        <option value="{% url 'blog'  %}" selected><h1>Categorias</h1> </option>
          {% for item_c in all_category %}
              <option value="{% url 'filter' item_c.id %}">{{item_c.title}}</option>
         {% endfor %}
    </select>
</aside>

        {% for item in post %}
        <table cellspacing="30">
        <tr>
          <td>   <img src="{{item.image.url}}"  height="220" width="220">  </td>
            <td>
                <h1>  {{item.title}} {{item.id}} {{item.category}}  </h1>
                <h1>  {{id_c}} </h1>
            </td>
         </tr>
        </table>

        {% endfor %}




</section>


<aside>
              <h2>  Categorias</h2>
                {% for item_c in all_category %}
                <a href="{% url 'filter' item_c.id %}">
                    {{item_c.title}}
                </a>
                {% endfor %}
  </aside>
   </body>




</html>






